[Desktop Entry]
Version=1.0
Type=Application
Name=MediathekSuche
Comment=Mediathek durchsuchen
Icon=video-television
Exec=sh -c  "python3 ~/.local/share/MediathekSuche/MediathekSuche.py"
Categories=Video;AudioVideo;Player
StartupNotify=True
Terminal=False

Name[de_DE]=MediathekSuche
